$disabled-text: #999999;
$sub-text: #c0c0c0;
$main-text: #000000;

page-home {
    ion-item-sliding {
        img {
            min-width: 100%;
            min-height: 100%;
        }
        .detail {
            .main {
                width: 100%;
                height: 70%;
                font-weight: bold;
                font-size: 1.3em;
                color: $main-text;
            }
            
            .sub {
                width: 100%;
                height: 30%;
                color: $sub-text;
                font-size: 0.9em;
            }
        }
    }
    .info {
        text-align: center;
        color: $sub-text;
    }
    .returned {
        opacity: 0.7;

        .detail {
            .main, .sub {
                color: $disabled-text;
            }
        }
    }
}
