page-home {
    button {
        img {
            min-width: 100%;
            min-height: 100%;
        }
        .detail {
            .main {
                width: 100%;
                height: 70%;
                font-weight: bold;
                font-size: 1.3em;
            }
            
            .sub {
                width: 100%;
                height: 30%;
                color: silver;
                font-size: 0.9em;
            }
        }
    }
}
