<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showDetails(null)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item detail-push *ngFor="let itm of items" (click)="showDetails(itm)">
      <div class="pic">
        <img *ngIf="itm.pic" src="{{itm.pic}}" />
      </div>
      <div class="detail">
        <div class="main">
          {{itm.what}}
        </div>
        <div class="sub">
          A chi: {{itm.toWho}} | Quando: {{itm.when}}
        </div>
      </div>
    </button>
  </ion-list>
</ion-content>
